{
    "extends": [
        "./eslint/eslintrc",
        "plugin:eslint-comments/recommended"
    ],
    "plugins": [
        "import",
        "promise",
        "eslint-comments",
        "disable"
    ],
    "settings": {
        "eslint-plugin-disable": {
          "paths": {
            "react": ["./*.js", "src/*.js"]
          }
        }
    },
    "overrides": [
        {
            "files": ["./*.js", "src/*.js"],
            "settings": {
                "flowtype": {
                    "onlyFilesWithFlowAnnotation": false
                },
                "react": {
                    "version": "16.3"
                }
            }
        },
        {
            "files": ["**/*_test.js"],
            "rules": {
                "max-lines": "off"
            }
        }
    ],
    "rules": {
        "flowtype/no-types-missing-file-annotation": "error",
        "import/no-unresolved": "error",
        "import/named": "error",
        "import/no-absolute-path": "error",
        "import/no-self-import": "error",
        "import/no-useless-path-segments": "error",
        "import/no-named-as-default": "error",
        "import/no-named-as-default-member": "error",
        "import/no-deprecated": "error",
        "import/first": "error",
        "import/no-duplicates": "error",
        "import/newline-after-import": "error",
        "import/no-unassigned-import": "error",
        "import/no-named-default": "error",
        "import/extensions": [
            "error",
            "always",
            {
                "ignorePackages": true
            }
        ],
        "import/no-commonjs": "error",
        "promise/always-return": "error",
        "promise/no-return-wrap": "error",
        "promise/param-names": "error",
        "promise/catch-or-return": "error",
        "promise/no-new-statics": "error",
        "promise/no-return-in-finally": "error",
        "eslint-comments/no-unused-disable": "error"
    }
}
